IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: true
AccessModifierOffset: -4

BreakBeforeBraces: Attach
NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: Yes